* {
    margin: 0;
    padding: 0;
}

body {
    background: #0D708D;
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: 100px 800px 100px;
}

#heading {
    background: #084354;
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#templateContainer {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridContainer {
    grid-area: 2 / 2 / 3 / 3;
}

#optionContainer {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    background: #084354;
    grid-area: 3 / 1 / 4 / 4;
    display: flex;
    flex-direction: row;
}

#gridCanvas {

}

#logo{
    font-size: 48px;
    text-align: center;
    color: white;
    margin-left: 20px;
}

#resetButton {
    margin-right: 20px;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 90px;
    font-size: 24px;
}