body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
#heading {
    display: flex;
    flex-direction: row;
    grid-area: 1 / 1 / 2 / 4;
    justify-content: center;
    align-items: center;
}

#linkContainer {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 2;
}

#contentDisplay {
    display: flex;
    flex-direction: row;
    grid-area: 2 / 2 / 3 / 4;
    align-items: center;
    justify-content: center;
}

#footer {
    display: flex;
    flex-direction: row;
    grid-area: 3 / 1 / 4 / 4;
    align-items: center;
    justify-content: center;
}

.links {
    font-size: 16px;
}