<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="game_of_life.css">
    <title>Game of Life</title>
</head>
<body>
<div class="item1">
    <p id="paragraph1">I'm playing Game of Life</p>
</div>
<div class="item2">
    <button id="startStopButton" onclick="startStop()">Start/Stop</button>
    <button id="resetButton" onclick="reset()">Reset</button>
</div>
    <canvas class="item3" id="gridCanvas"></canvas>
    <script src="game_of_life.js"></script>
    <div class="item4"></div>
</body>
</html>